[submodule "include/netcode.io"]
	path = include/netcode.io
	url = https://github.com/networkprotocol/netcode.io.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
